.fish-print {
    width: 80mm;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid black;
}

.bbb {
    border-bottom: 1px solid black;
}

@media print {

    .fish-print,
    .fish-print * {
        visibility: visible;
    }

    .fish-print {
        width: 80mm;
        background-color: white;
        direction: rtl !important;
        page-break-after: avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
        margin-top: -76px !important;
    }

    .fish-print+.fish-print {
        margin-top: 10px !important;
    }
}

@page {
    margin: -60px 10px !important;
    size: 85mm 297mm;
}