.fish-print {
    width: 80mm;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12pt;
    direction: rtl !important;
    background-color: #fff;
}

@media print {

    .fish-print,
    .fish-print * {
        visibility: visible;
    }
    .fish-print {
        position: absolute;
        left: 0;
        top: 0;
        width: 80mm;
        margin: 0;
        background-color: white;
        direction: rtl !important;
        page-break-after: avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
        margin-top: 10px;
    }
}

@page {
    margin: 0;
    size: 80mm 297mm;
}