@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir.eot') format('eot');
    src: url('../fonts/vazir.woff2') format('woff2'),
        url('../fonts/Vazir.woff') format('woff');
}

/* new Chnage */
:root {
    --main-color: #1D1E26;
    --sidebar-color: #262932;
    --content-color: #6A5FE8;
    --content-hover-color: #5044db;
    --white-color: #adadad;
    --border-color: #384759;
    --white-hover-color: #fff;
}

/* new Chnage */

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    direction: rtl;
    font-family: 'vazir';
    background-color:  var(--main-color);
}
/* toggle */
.menu-toggle{
    width: 100%;
    height: 100%;
    background-color: #1a1c22c5;
    position: absolute;
    transition: all .3s ease-in;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

/* sidbar */
.sidebar{
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 1rem 1.2rem;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}
.main-sub-menu{
    position: relative;
}
.main-sub-menu:hover .sub-menu{
    display: block;
}
.sidebar-menu ul li{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.sidebar-menu ul li:hover{
    background-color: var(--content-color);
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.sub-menu{
    cursor: pointer;
    display: none;
    text-align: center;
    background-color: var(--content-color);
    padding: 2px 6px;
    position: absolute;
    width: 120px;
    line-height: 35px;
    z-index: 99;
    top: 24px;
    border-radius: 4px;
    border-radius: 0 0 5px 5px;
    font-size: 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.sub-menu a{
        color: var(--sidebar-color) !important;
        font-weight: bold;
}
.sidebar.active{
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}
.hambur{
    position: absolute;
    left: 35px;
    top: 40px;
    font-size: 18px;
}
.sidebar-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: var(--sidebar-color);
    padding: 20px;
    box-shadow: var(--main-color);
    color: var(--white-color);
}

.brand h3{
    color: var(--content-color);
    margin-bottom: 10px;
}

.brand h3 svg{
    color: var(--color-main);
}

.sidebar-container .sidebar-avatar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--main-accent);
    padding: .5rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.sidebar-container .profile-image img{
    width: 70px;
}

.hr{
    border: 1px solid var(--content-color);
}
.sidebar-container .sidebar-avatar .avatar-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-avatar .avatar-info .avatar-text{
    padding-left: 10px;
    cursor: pointer;
}

.sidebar-menu{
    margin-top: 30px;
}
.sidebar-menu li{
    padding: 0 10px;
}
.sidebar-menu li a{
    color: var(--white-color);
    padding: .8rem 0;
    display: block;
    cursor: pointer;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

/* content */
.main-content{
    margin-right: 330px;
    color: var(--white-color);
    padding: 30px 0 30px 30px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.main-content.active{
    margin-right: 20px;
}
.main-content header{
    display: flex;
    align-items: center;
}
.hamber-icon{
    font-size: 22px;
    cursor: pointer;
}
.header-action{
    margin-top: 10px;
}
.header-action input{
    margin: 0 30px 0 0;
    width: 250px;
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    background-color: var(--sidebar-color);
    border: 1px solid var(--border-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--white-color);
}

.header-action button{
    padding: 30xp;
    background-color: var(--content-color);
    color: var(--white-color);
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* main */
main{
    padding-top: 15px;
}

.overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.overview .all-review{
    width: 100%;
    color: #525252;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.overview .overview-item{
    font-size: 24px;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: #ffd73e33;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    width: calc(32% - 20px);
    padding: 30px;
    display: flex;
    height: 150px;
    margin-bottom: 40px;
    border-width: 1px;
    border-style: solid;
    background-color: var(--content-color);
    transition: all .3s ease-in;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: -1px 11px 28px -7px rgba(0,0,0,0.54);
    -webkit-box-shadow: -1px 11px 28px -7px rgba(0,0,0,0.54);
    -moz-box-shadow: -1px 11px 28px -7px rgba(0,0,0,0.54);
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.overview .overview-item .overview-icon{
    padding-left: 15px;    
}
.overview .overview-item .overview-icon svg{
    width: 50px;
    height: 50px;
    color: var(--sidebar-color);
    padding: 10px;
}


/* cars list */
/* .total-graph{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--sidebar-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.total-graph .table table{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(17, 17, 26, .1);
    text-align: right;
    padding: 10px;
} */
/* cars list table */
 
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    background-color: var(--sidebar-color);
    border: 1px solid var(--border-color);
    padding: 10px 15px 40px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow-x: auto;
}
.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: var(--sidebar-color);
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    font-size: 14px;
}
.fl-table td svg{
    font-size: 20px;
    color: var(--white-color);
}
.fl-table thead th {
    color: var(--white-color);
    background: var(--content-color);
}

.fl-table tr:nth-child(even) {
    background: var(--main-color);
}
.fl-table tr:hover{
    background-color: rgba(106, 95, 232, 0.171);
}

/* insert  page */

.insert-cars div{
    text-align: right;
    margin-right: 5.5%;
    margin-bottom: 4px;
}
.insert-cars input{
    background-color: var(--main-color);
    border: none;
    width: 90%;
    height: 35px;
    padding: 8px;
    border-radius: 3px;
    color: var(--white-color);
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.5s;
    outline: none;
    border: 1px solid var(--content-color);
    margin-bottom: 25px;
    margin-right: 70px;  
    
}
.insert-cars select{
    background-color: var(--main-color);
    border: none;
    width: 90%;
    height: 35px;
    padding: 8px;
    border-radius: 3px;
    color: var(--white-color);
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.5s;
    outline: none;
      border: 1px solid var(--content-color);
      margin-bottom: 25px;
}
.insert-cars select option{
    font-size: 16px;
}
.insert-cars input:focus {
    outline: none !important;
    border:1px solid var(--content-color);
    box-shadow: 0 0 8px var(--content-color);
    transition: 0.5s;
  }
.my-btn{
    background-color: var(--content-color) !important;
    cursor: pointer;
    font-weight: bold;
    color: var(--white-color) !important;
    margin-top: 40px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.my-btn:hover{
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
    
}
/* media homa page */
@media screen and (max-width: 1333px){
   .overview .overview-item{
     width: calc(50% - 20px);
     margin-top: 10px;
   }
}
@media screen and (max-width: 600px){
   .overview .overview-item{
     width: calc(100% - 20px);
     margin-top: 10px;
   }
   .my-title{
    text-align: center !important;
    margin-bottom: 30px;
    margin-right: 0px !important;
}
}
@media screen and (max-width: 992px){
    .sidebar{
        transform: translate(100%);
        -webkit-transform: translate(100%);
        -moz-transform: translate(100%);
        -ms-transform: translate(100%);
        -o-transform: translate(100%);
        padding: 0;
        width: 290px;
}
.main-content{
    margin-right: 10px;
}
.overview{
    margin-right: 20px;
    width: 100%;
}
.sidebar.active{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}
.menu-toggle.active{
    opacity: 1;
    visibility: visible;
}
.table-wrapper{
    text-align: center;
    width: 105%;
}
.table-wrapper{
    margin: 0;
    text-align: center;
}
.insert-cars{
    width: 100%;
    height: 100%;
    background-color: var(--sidebar-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

}
@media screen and (max-width: 500px){
.sub-menu{
    cursor: pointer;
    display: none;
    text-align: center;
    background-color: var(--content-color);
    position: absolute;
    width: 100px;
    line-height: 35px;
    z-index: 99;
    top: 34px;
    border-radius: 4px;
    font-size: 13px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
.overview .overview-item{
    margin-bottom: 15px;
}
.sub-menu a{
        color: var(--sidebar-color) !important;
        font-weight: bold;
}
}

/* footer */
.about{
    position: absolute;
    bottom: 20px;
    color: var(--white-color);
    right: 92px;
    font-size: 13px;
}
.about a{
    color: var(--white-color);
}
/* login page */

.login{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    position: relative;
}

.avatar-login{
    margin-top: 70px;
}

.avatar-login img{
    width: 90px;
    border: 1px solid var(--content-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.login-form{
    width: 350px;
    height: 500px;
    background-color: var(--sidebar-color);
    color: var(--white-color);
    position: relative;
    border: 1px solid var(--border-color);
}
.login-form h2{
    margin-top: 10px;
}
.login-form span{
   position: absolute;
   right: 40px;
}
.login-form input{
    padding: 5px;
    background-color: var(--main-accent);
    border: none;
    width: 280px;
    height: 35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--white-color);
        font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.5s;
    outline: none;
      border: 1px solid var(--content-color);
      margin-bottom: 25px;
}
.login-form input:focus {
    outline: none !important;
    border:1px solid var(--content-color);
    box-shadow: 0 0 8px var(--content-color);
    transition: 0.5s;
  }
  .btn-custom{
    margin: 5px;
  }
  .mytxt{
    color: red;
    text-align: center;
    margin: 20px 34px;
  }
.section{
    width: 100%;
    height: 100vh;
    background-color: red;
    background-image: url('../img/profile.png');
    background-size: cover;
}
.print{
    width: 200px;
    height: 100px;
    border: 3px solid var(--main-color);
    padding: 30px;
    background-color: var(--white-color);
    position: absolute;
    left: 10px;
    top:10px;
    text-align: center;
    font-weight: bold;
}
.res{
    width: 69.5%;
    height: auto;
    overflow-y: auto;
    position: absolute;
    margin-right: 74px !important;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
.myLink{
    color: var(--white-color);
    display: block;
    background-color: var(--main-color);
    width: 100%;
    padding: 10px;
}
@media screen and (max-width: 1500px){
    .res{
        width: 60%;
    }
}
@media screen and (max-width: 1400px){
    .res{
        width: 50%;
        margin-right: 40px  !important;
    }
}
.myLink:hover{
    background-color: var(--sidebar-color);
}
.my-title{
    text-align: right;
    margin-bottom: 30px;
    margin-right: 60px;
}
.myLinka{
    color: var(--white-color);
    display: block;
    width: 100%;
}
.show-size-customer{
    float: right;
    background-color: var(--sidebar-color);
    width: 70%;
    height: auto;
    margin: 20px 15%;
    -webkit-box-shadow: 0px 9px 30px -8px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 9px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 30px -8px rgb(0 0 0 / 75%);
    text-align: center;
    padding: 0 30px 20px 0;
}
.box-size{
    
    width:47%;
    height: auto;
    float: right;
    margin: 10px 1%;
    text-align: right;
    background-color: var(--main-color);
    padding: 0 1%;
    border-radius: 3px;
    color: #ced2d7;
    font-size: 1.8vmin;
    
}
@media screen and (max-width: 890px){
    .show-size-customer{
        width: 95%;
        margin: 0 17px;
    }
    .box-size{
        width: 90%;
        font-size: 16px;
        padding: 2px;
    }
}
.title-size{
    text-align: right;
    padding: 10px;
    color: var(--content-color);
}
.m-m{
    margin-bottom: 30px;
}
.size-link{
text-decoration: underline;
color: var(--white-color);
margin: 20px !important;
text-align: right;
}
.tbl-print{
    color: var(--white-color);
    border: 3px solid black;
}

/* new CHange */
.menu-panel {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    color: var(--white-hover-color);
    border-radius: 7px;
    margin-top: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu-panel.active {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    color: var(--white-hover-color);

}

.menu-panel li {
    padding: 8px 10px;
    width: 95%;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    background: var(--content-color);
    margin-top: 10px;
    border-radius: 7px;
    text-align: right;
    margin-right: 10px;
}
.menu-panel li:hover {
    background: var(--content-hover-color) !important;
}
.menu-panel a{
    color: var(--white-hover-color)
}
/* new CHange */

.back-btn{
    color: var(--white-color);
    text-decoration: underline;
}
.help-btn{
    color: var(--content-color);
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.res{
    width: 69.5%;
    height: auto;
    overflow-y: auto;
    position: absolute;
    margin-right: 74px !important;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
/* spiner */
.fa-spinner {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .my-event{
    color: greenyellow;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .link-p{
    margin-right: 80px;
    text-decoration: underline;
  }
  .link-p a{
    color: var(--white-color) !important;
  }